*.pkl
*.yaml
gcbfplus/pretrained/CrazyFlie/gcbf+/config.yaml
gcbfplus/pretrained/CrazyFlie/gcbf+/models/1000/actor.pkl
gcbfplus/pretrained/CrazyFlie/gcbf+/models/1000/cbf.pkl
gcbfplus/pretrained/DoubleIntegrator/gcbf+/config.yaml
gcbfplus/pretrained/DoubleIntegrator/gcbf+/models/1000/actor.pkl
gcbfplus/pretrained/DoubleIntegrator/gcbf+/models/1000/cbf.pkl
gcbfplus/pretrained/DubinsCar/gcbf+/config.yaml
gcbfplus/pretrained/DubinsCar/gcbf+/models/1000/actor.pkl
gcbfplus/pretrained/DubinsCar/gcbf+/models/1000/cbf.pkl
gcbfplus/pretrained/LinearDrone/gcbf+/config.yaml
gcbfplus/pretrained/LinearDrone/gcbf+/models/1000/actor.pkl
gcbfplus/pretrained/LinearDrone/gcbf+/models/1000/cbf.pkl
gcbfplus/pretrained/SingleIntegrator/gcbf+/config.yaml
gcbfplus/pretrained/SingleIntegrator/gcbf+/models/1000/actor.pkl
gcbfplus/pretrained/SingleIntegrator/gcbf+/models/1000/cbf.pkl
ada_cbf/sysid/wandb
ada_cbf/f1tenth_gym/examples/wandb
*.pt
ada_cbf/sysid/__pycache__
ada_cbf/*/__pycache__

*/wandb/*
./ada_cbf/sysid/wandb/run-20240814_125336-psvf6og5/run-psvf6og5.wandb
./ada_cbf/sysid/wandb/run-20240719_185707-amqm7b0o/files/output.log
./ada_cbf/sysid/wandb/run-20240719_185707-amqm7b0o/run-amqm7b0o.wandb
./ada_cbf/sysid/wandb/run-20240812_080859-qrrtg95m/run-qrrtg95m.wandb
./ada_cbf/sysid/wandb/run-20240814_131322-ata43p3i/run-ata43p3i.wandb
./ada_cbf/sysid/wandb/run-20240722_140601-rz2rh3r2/run-rz2rh3r2.wandb
./ada_cbf/sysid/wandb/run-20240812_170907-4wfymcm0/run-4wfymcm0.wandb
./ada_cbf/sysid/wandb/run-20240812_080906-65g0c0ah/run-65g0c0ah.wandb
./ada_cbf/sysid/wandb/run-20240722_145415-4ek1g4wg/run-4ek1g4wg.wandb
./ada_cbf/sysid/wandb/run-20240722_145415-4ek1g4wg/files/output.log
./ada_cbf/sysid/wandb/run-20240814_121339-4qk5ssvn/run-4qk5ssvn.wandb
./ada_cbf/sysid/wandb/run-20240812_080854-tkdfipco/run-tkdfipco.wandb
